/* GLOBAL */

.container {
  display: flex;
  max-width: 400px;
  border: 1px solid #ccc;
  height: 130px;
  flex-wrap: wrap;
}

.item {
  background-color: rgb(195, 145, 241);
  font-size: 20px;
  margin: 5px;
  text-align: center;
}

.justify-content .item1, .justify-content .item3 {
  width: 80px;
}

/* FIM GLOBAL */

.flex-start .item, .flex-end .item, .center .item, .stretch .item {
  flex: 1;
}

.flex-start {
  align-content: flex-start;
}

.flex-end {
  align-content: flex-end;
}

.center {
  align-content: center;
}

.stretch {
  align-content: stretch;
}

.space-between {
  align-content: space-between;
}

.space-around {
  align-content: space-around;
}

.space-evenly {
  align-content: space-evenly;
}