:root {
    --background-color-geral: rgba(187, 187, 187, 0.274);
    --background-color-cabecalho: rgba(59, 240, 240, 0.16);
    --background-color-artigo: rgba(194, 247, 230, 0.416);
    --background-color-links: #d1c4e92d;
    --background-color-links-aoClique: #D1c4e9;
    --cor-fonte-geral:#9c7602d8;
    --cor-fonte-links: goldenrod;
    --cor-fonte-links-aoClique: #5900fd;
    --cor-borda-cabecalho: rgba(178, 0, 249, 0.171);
    --cor-borda-artigo: rgba(225, 0, 255, 0.209);
    --cor-borda-links:  #D1c4e9;
}


body {
    background-color: var(--background-color-geral);
    color: var(--cor-fonte-geral);
    margin-top: 20px;
    padding-top: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.titulo {
    justify-content: center;
    
}

nav ul {
    display: flex;
    flex-flow: column wrap;
}

.cabecalho {
    padding: 5px 5px;
    background-color: var(--background-color-cabecalho);
    /* border: solid 5px rgba(178, 0, 249, 0.171); */
    /* border-radius: 10px; */
    position: relative;
    border-top: solid 10px var(--cor-borda-cabecalho);
    border-bottom: solid 10px var(--cor-borda-cabecalho);
}

.cabecalho .logo {
    display: inline-block;
}

/* .cabecalho nav {
    float: right;
    position: absolute;
    top: 50%;
    right: 0.5%;
    transform: translatey(-50%);
    text-align: end;
} */

.cabecalho nav li {
    display: inline-block;
    padding: 10px;
}

a {
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    color: black;
    text-decoration: none;
    border: solid 1px var(--cor-borda-links);
    background-color: var(--background-color-links);
    color: var(--cor-fonte-links);
}

/* .indice:first-child {
    padding-top: 20px;
  } */

a:visited {
    color: var(--cor-fonte-links);  
}

a:hover {
    background-color: var(--background-color-links-aoClique);
    color: var(--cor-fonte-links-aoClique);
}

article {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 20px;
    /* border: solid 8px rgba(225, 0, 255, 0.209); */
    background-color: var(--background-color-artigo);
    /* border-radius: 15px; */
    border-top: solid 10px var(--cor-borda-artigo);
    border-bottom: solid 10px var(--cor-borda-artigo);
}

.logo-img {
    background-size: cover;
    height: 100px;
    /* margin: 10px 10px 1px 20px; */
    margin-left: 20px; 
    /* margin-top: 10px; */ 
}

.links:first-child {
    padding-top: 20px;
    flex: 1;
}

/* GLOBAL */ 

.container {
    display: flex;
    max-width: 400px;
    border: 1px solid #ccc;
    /* height: 130px; */
  }
  
  .item {
    background-color: rgb(195, 145, 241);
    font-size: 20px;
    margin: 5px;
    text-align: center;
  }
  
  .justify-content .item1, .justify-content .item3 {
    width: 80px;
  }